## Imports

In [1]:
!pip install pyspark
!pip install tqdm
!pip install pandas

Requirement already satisfied: pyspark in c:\python\envs\ddam\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\python\envs\ddam\lib\site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: tqdm in c:\python\envs\ddam\lib\site-packages (4.66.1)
Requirement already satisfied: colorama in c:\python\envs\ddam\lib\site-packages (from tqdm) (0.4.6)
Requirement already satisfied: pandas in c:\python\envs\ddam\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python\envs\ddam\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python\envs\ddam\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python\envs\ddam\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python\envs\ddam\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\python\envs\ddam\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
from pyspark.sql import SparkSession
from tqdm import tqdm
from pyspark.sql import functions as F

ModuleNotFoundError: No module named 'pandas'

In [5]:
spark = SparkSession.builder.appName("spark").getOrCreate()
spark

### Pandas vs Pyspark

In [6]:
df_pandas =pd.read_csv(r"c:\Users\Vincenzo\PROJECTS\DDAM_data\brewery\brewery_data_complete_extended.csv")
df_pandas.head()

,Batch_ID,Brew_Date,Beer_Style,SKU,Location,Fermentation_Time,Temperature,pH_Level,Gravity,Alcohol_Content,Bitterness,Color,Ingredient_Ratio,Volume_Produced,Total_Sales,Quality_Score,Brewhouse_Efficiency,Loss_During_Brewing,Loss_During_Fermentation,Loss_During_Bottling_Kegging
0,7870796,2020-01-01 00:00:19,Wheat Beer,Kegs,Whitefield,16,24.204251,5.289845,1.039504,5.370842,20,5,1:0.32:0.16,4666,2664.759345,8.577016,89.195882,4.104988,3.235485,4.663204
1,9810411,2020-01-01 00:00:31,Sour,Kegs,Whitefield,13,18.086763,5.275643,1.059819,5.096053,36,14,1:0.39:0.24,832,9758.801062,7.420541,72.480915,2.676528,4.246129,2.044358
2,2623342,2020-01-01 00:00:40,Wheat Beer,Kegs,Malleswaram,12,15.539333,4.778016,1.037476,4.824737,30,10,1:0.35:0.16,2115,11721.087016,8.451365,86.322144,3.299894,3.109440,3.033880
3,8114651,2020-01-01 00:01:37,Ale,Kegs,Rajajinagar,17,16.418489,5.345261,1.052431,5.509243,48,18,1:0.35:0.15,3173,12050.177463,9.671859,83.094940,2.136055,4.634254,1.489889
4,4579587,2020-01-01 00:01:43,Stout,Cans,Marathahalli,18,19.144908,4.861854,1.054296,5.133625,57,13,1:0.46:0.11,4449,5515.077465,7.895334,88.625833,4.491724,2.183389,2.990630

In [7]:
df_pyspark = spark.read.csv(r"c:\Users\Vincenzo\PROJECTS\DDAM_data\brewery\brewery_data_complete_extended.csv", header=True, inferSchema=True)
df_pyspark.show(5)

+--------+-------------------+----------+----+------------+-----------------+------------------+------------------+------------------+-----------------+----------+-----+----------------+---------------+------------------+-----------------+--------------------+-------------------+------------------------+----------------------------+
|Batch_ID|          Brew_Date|Beer_Style| SKU|    Location|Fermentation_Time|       Temperature|          pH_Level|           Gravity|  Alcohol_Content|Bitterness|Color|Ingredient_Ratio|Volume_Produced|       Total_Sales|    Quality_Score|Brewhouse_Efficiency|Loss_During_Brewing|Loss_During_Fermentation|Loss_During_Bottling_Kegging|
+--------+-------------------+----------+----+------------+-----------------+------------------+------------------+------------------+-----------------+----------+-----+----------------+---------------+------------------+-----------------+--------------------+-------------------+------------------------+----------------------------+
| 7870796|2020-01-01 00:00:19|Wheat Beer|Kegs|  Whitefield|               16|24.204250857069873|5.2898454476095615|1.0395041267301979|5.370842159553436|        20|    5|     1:0.32:0.16|           4666|2664.7593448382822| 8.57701633109399|   89.19588216376087| 4.1049876591878345|      3.2354851724654683|           4.663204448186049|
| 9810411|2020-01-01 00:00:31|      Sour|Kegs|  Whitefield|               13|18.086762947259544| 5.275643382756193|1.0598189516987164|5.096053082797625|        36|   14|     1:0.39:0.24|            832| 9758.801062471319|7.420540752553908|    72.4809153900275| 2.6765280953921122|      4.2461292104108574|            2.04435836917023|
| 2623342|2020-01-01 00:00:40|Wheat Beer|Kegs| Malleswaram|               12|15.539332669116469|4.7780156232459765|1.0374757095487201|4.824737120959184|        30|   10|     1:0.35:0.16|           2115|11721.087016274963|8.451364886803127|   86.32214396020584|  3.299893625514981|       3.109440467362847|          3.0338798378762806|
| 8114651|2020-01-01 00:01:37|       Ale|Kegs| Rajajinagar|               17| 16.41848910394318| 5.345260585546188|1.0524314251694946|5.509243080797997|        48|   18|     1:0.35:0.15|           3173|12050.177463190277|9.671859404043175|   83.09494037181545|  2.136055116262562|       4.634254174098425|          1.4898890677148424|
| 4579587|2020-01-01 00:01:43|     Stout|Cans|Marathahalli|               18|19.144907654338517|  4.86185374113861|1.0542961149482333|5.133624684263243|        57|   13|     1:0.46:0.11|           4449|5515.0774647529615|7.895333676172065|   88.62583302052388|  4.491723843594972|      2.1833886016455497|          2.9906302188791485|
+--------+-------------------+----------+----+------------+-----------------+------------------+------------------+------------------+-----------------+----------+-----+----------------+---------------+------------------+-----------------+--------------------+-------------------+------------------------+----------------------------+
only showing top 5 rows

In [8]:
print("Type of df_pyspark:", type(df_pyspark))
print("Type of df_pandas:", type(df_pandas))

Type of df_pyspark: <class 'pyspark.sql.dataframe.DataFrame'>
Type of df_pandas: <class 'pandas.core.frame.DataFrame'>

## Database

- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
-  Adding Columns
- Dropping columns
- Renaming Columns

### basics

In [15]:
rows = df_pyspark.count()
cols = len(df_pyspark.columns)

print(f'Dimension of the Dataframe is: {(rows,cols)}')

Dimension of the Dataframe is: (10000000, 20)

In [9]:
df_pyspark.select("Beer_Style").show(5)

df_pandas["Beer_Style"].head(5)

+----------+
|Beer_Style|
+----------+
|Wheat Beer|
|      Sour|
|Wheat Beer|
|       Ale|
|     Stout|
+----------+
only showing top 5 rows

0    Wheat Beer
1          Sour
2    Wheat Beer
3           Ale
4         Stout
Name: Beer_Style, dtype: object

In [10]:
df_pyspark.select("Beer_Style", "Brew_Date").show(5)

df_pandas[["Beer_Style", "Brew_Date"]].head(5)

+----------+-------------------+
|Beer_Style|          Brew_Date|
+----------+-------------------+
|Wheat Beer|2020-01-01 00:00:19|
|      Sour|2020-01-01 00:00:31|
|Wheat Beer|2020-01-01 00:00:40|
|       Ale|2020-01-01 00:01:37|
|     Stout|2020-01-01 00:01:43|
+----------+-------------------+
only showing top 5 rows

   Beer_Style            Brew_Date
0  Wheat Beer  2020-01-01 00:00:19
1        Sour  2020-01-01 00:00:31
2  Wheat Beer  2020-01-01 00:00:40
3         Ale  2020-01-01 00:01:37
4       Stout  2020-01-01 00:01:43

In [11]:
df_pyspark.printSchema()

root
 |-- Batch_ID: integer (nullable = true)
 |-- Brew_Date: timestamp (nullable = true)
 |-- Beer_Style: string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Fermentation_Time: integer (nullable = true)
 |-- Temperature: double (nullable = true)
 |-- pH_Level: double (nullable = true)
 |-- Gravity: double (nullable = true)
 |-- Alcohol_Content: double (nullable = true)
 |-- Bitterness: integer (nullable = true)
 |-- Color: integer (nullable = true)
 |-- Ingredient_Ratio: string (nullable = true)
 |-- Volume_Produced: integer (nullable = true)
 |-- Total_Sales: double (nullable = true)
 |-- Quality_Score: double (nullable = true)
 |-- Brewhouse_Efficiency: double (nullable = true)
 |-- Loss_During_Brewing: double (nullable = true)
 |-- Loss_During_Fermentation: double (nullable = true)
 |-- Loss_During_Bottling_Kegging: double (nullable = true)

In [12]:
df_pyspark.dtypes

[('Batch_ID', 'int'),
 ('Brew_Date', 'timestamp'),
 ('Beer_Style', 'string'),
 ('SKU', 'string'),
 ('Location', 'string'),
 ('Fermentation_Time', 'int'),
 ('Temperature', 'double'),
 ('pH_Level', 'double'),
 ('Gravity', 'double'),
 ('Alcohol_Content', 'double'),
 ('Bitterness', 'int'),
 ('Color', 'int'),
 ('Ingredient_Ratio', 'string'),
 ('Volume_Produced', 'int'),
 ('Total_Sales', 'double'),
 ('Quality_Score', 'double'),
 ('Brewhouse_Efficiency', 'double'),
 ('Loss_During_Brewing', 'double'),
 ('Loss_During_Fermentation', 'double'),
 ('Loss_During_Bottling_Kegging', 'double')]

In [13]:
df_pyspark.describe().show()

+-------+------------------+----------+--------+---------------+-----------------+------------------+-------------------+--------------------+-------------------+------------------+-----------------+----------------+-----------------+------------------+------------------+--------------------+-------------------+------------------------+----------------------------+
|summary|          Batch_ID|Beer_Style|     SKU|       Location|Fermentation_Time|       Temperature|           pH_Level|             Gravity|    Alcohol_Content|        Bitterness|            Color|Ingredient_Ratio|  Volume_Produced|       Total_Sales|     Quality_Score|Brewhouse_Efficiency|Loss_During_Brewing|Loss_During_Fermentation|Loss_During_Bottling_Kegging|
+-------+------------------+----------+--------+---------------+-----------------+------------------+-------------------+--------------------+-------------------+------------------+-----------------+----------------+-----------------+------------------+------------------+--------------------+-------------------+------------------------+----------------------------+
|  count|          10000000|  10000000|10000000|       10000000|         10000000|          10000000|           10000000|            10000000|           10000000|          10000000|         10000000|        10000000|         10000000|          10000000|          10000000|            10000000|           10000000|                10000000|                    10000000|
|   mean|         4999999.5|      NULL|    NULL|           NULL|        14.500898|19.999898511018827|  4.999940543893489|  1.0550028700788692|  5.249709006579308|        39.4961996|       11.9993459|            NULL|     2749.0309594|10497.785343940232| 7.999825148192516|   80.00091934182497|  3.000081497042524|       3.000002413212497|          3.0001587106749747|
| stddev|2886751.4902856858|      NULL|    NULL|           NULL|2.872006096518228|2.8870297120328576|0.28863762894103545|0.014434649211836703|0.43296144791729213|11.545572488490313|4.321170228005893|            NULL|1299.078133259011| 5485.995544804044|1.1546793056214646|  5.7749295785811645| 1.1547483756083143|      1.1548266863212513|          1.1547186092997934|
|    min|                 0|       Ale| Bottles|Electronic City|               10|15.000001163771435|  4.500000005935603|  1.0300000027891478|  4.500000235642255|                20|                5|     1:0.20:0.10|              500|1000.0009630942443| 6.000000644037316|   70.00000702282782|  1.000000399567285|      1.0000008690556794|          1.0000002095815321|
|    max|           9999999|Wheat Beer|   Pints|      Yelahanka|               19|24.999998289887966|  5.499999818305633|  1.0799999980323736|  5.999999932506248|                59|               19|     1:0.50:0.30|             4999| 19999.99964105241| 9.999998860537378|   89.99999982126904|  4.999999841589812|       4.999999816405875|           4.999999721589095|
+-------+------------------+----------+--------+---------------+-----------------+------------------+-------------------+--------------------+-------------------+------------------+-----------------+----------------+-----------------+------------------+------------------+--------------------+-------------------+------------------------+----------------------------+

### adding columns to a dataframe

In [ ]:
df_pyspark = df_pyspark.withColumn("Bitterness + 2", df_pyspark["Bitterness"] + 2)
df_pyspark.show(5)

In [ ]:
df_pyspark = df_pyspark.withColumn("test", F.concat(df_pyspark["SKU"], F.lit("2")))
df_pyspark.show(5)
#spark does not support concatenation of strings columns via + so u have to use the concat function with the literal function

### dropping columns

In [ ]:
df_pyspark.drop("test").show(5)

In [ ]:
df_pyspark.drop("Bitterness + 2", "Temperature").show(5)

### renaming columns

In [ ]:
df_pyspark.withColumnRenamed("Bitterness + 2", "new_name").show(5)

## Missing Values

- dropping columns
- dropping rows
- various parameter in dropping functionalities
- handling missing values by:
    - mean
    - median
    - mode

In [ ]:
df_pyspark = spark.read.csv(r"c:\Users\Vincenzo\PROJECTS\DDAM_data\test\test2.csv", header=True, inferSchema=True)
df_pyspark.show()

In [ ]:
df_pyspark.dropna().show()
df_pyspark.na.drop().show() 

#equivalent options

### drop options

by default it's any

- how:
    - any
    - all
- threshold
- subset

In [ ]:
df_pyspark.na.drop(how = "any").show()

In [ ]:
df_pyspark.na.drop(how = "all").show()

In [ ]:
df_pyspark.na.drop(thresh = 2).show()

In [ ]:
df_pyspark.na.drop(subset = ["experience"]).show()

### filling the missing values

In [ ]:
df_pyspark.na.fill("Missing values").show()

In [ ]:
#for a specific column
df_pyspark.na.fill("Missing values", "experience").show()

In [ ]:
# for multiple columns (its not showing but it shoudl work)
df_pyspark.na.fill("Missing values", ["experience", "age"]).show()

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["age", "Experience", "Salary"], 
    outputCols=["{}_imputed".format(c) for c in ["age", "Experience", "Salary"]]
).setStrategy("mean")

imputer.fit(df_pyspark).transform(df_pyspark).show()